%script{type: "text/javascript", src: "js/index.js"}
%script{type: "text/javascript", src: "js/datepickerx.js"}
%script{type: "text/javascript", src: "js/toaster.js"}
%script{type: "text/javascript", src: "js/datepicker.js"}
%script{type: "text/javascript", src: "js/file-upload.js"}
