.header
  .container-fluid
    .row.justify-content-center
      .col-md-8
        .logo
          %a.logo-link{href: "/"} Easy-collect
        .login-panel
          %button.btn.btn-primary Logout
        .header__nav
          %a.header__nav-itm{href: "#"}
            %i.icon.icon__cog
          %a.header__nav-itm.__has-alert{href: "#"}
            %i.header__nav-alert
              1
            %i.icon.icon__alert
