.header
  .container-fluid
    .row.justify-content-center
      .col-md-8
        .logo
          %a.logo-link{href: "/"} Easy-collect
        .login-panel
          %button.btn.btn-primary Einloggen
