%footer.footer
  .container
    .row
      .col-md
        .footer__logo
          %a.logo.logo_bw
            %img{src: "assets/logo-sm.svg"}
      .col-md
        %span.footer__copyright
          © MASCA Software. All rights reserved.
      .col-md
        .footer__links
          %a.footer__links-link{href: "mailto:info@mascasoftware.com"}
            info@mascasoftware.com
