@@include('./components/head/_head.html')
  %body.page
    %header.page-header
      .container
        %a.logo
          %img{src: "assets/logo.svg"}
    %section.page-section.section_splasher
      .container
        .row
          .col-md
            %h1
              MASCA Software
            %p.promo-text
              Your one stop shop in Ukrainian software development market.
            %button.btn.btn-primary.btn-lg
              Contact us
          .col-md
            .splasher-promo
              %img.img-block{src: "assets/content-image-0.png"}
    %section.page-section.section_about
      .container
        .row
          .col-md
            %img.img-block{src: "assets/content-image-1.png"}
          .col-md
            %h2
              Who we are:
            %p
              Our passion in technology is how it makes life easier. A piece of software that takes the routine operations freeing space for interesting and meaningful tasks is what we perceive as a “value for the customer”.
            %p
              With extensive experience in the automation industry we know exactly how to get that done. We believe that understanding the business is of the same importance as to understand the technology. The synergy of the two creates the value and satisfaction.
    %section.page-section.section_services
      .container
        %h2
          We offer:
        .row
          .col-md
            .text-ico
              .text-ico__ico
                %img{src: "assets/ico/ico-consult.svg"}
              .text-ico__txt
                %h4.text-ico__hd
                  Software consulting services
                %p.text-ico__desc
                  Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
            .text-ico
              .text-ico__ico
                %img{src: "assets/ico/ico-programming.svg"}
              .text-ico__txt
                %h4.text-ico__hd
                  Software development and project management
                %p.text-ico__desc
                  Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
            .text-ico
              .text-ico__ico
                %img{src: "assets/ico/ico-design.svg"}
              .text-ico__txt
                %h4.text-ico__hd
                  UI/UX design
                %p.text-ico__desc
                  Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
          .col-md
            .text-ico
              .text-ico__ico
                %img{src: "assets/ico/ico-qa.svg"}
              .text-ico__txt
                %h4.text-ico__hd
                  QA services
                %p.text-ico__desc
                  Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
            .text-ico
              .text-ico__ico
                %img{src: "assets/ico/ico-outstaff.svg"}
              .text-ico__txt
                %h4.text-ico__hd
                  Outstaffing services
                %p.text-ico__desc
                  Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
    %section.page-section.section_feedback
      .container
        .row
          .col-md
            .form-container
              %h2 How can we help
              %p
                Our team is happy to answer your questions.
                %br
                Just fill this form and we’ll get back to you as soon as possible.
              %form.form
                .input-grp
                    %input.input-control.__text{type: "text", placeholder: "Name..."}
                .input-grp
                    %input.input-control.__text{type: "text", placeholder: "Email..."}
                .input-grp
                    %input.input-control.__text{type: "text", placeholder: "Company..."}
                .input-grp
                    %textarea.input-control.__textarea{type: "text", placeholder: "Message..."}
                %button.btn.btn-secondary Submit
    @@include('./components/footer/_footer.html')
