.form {
  margin-bottom: 24px;
}

.input-grp {
  margin: 0 0 18px 0;
  @extend %clearfix;
}
.input-grp__inline {
  display: flex;
  > * {
    margin-left: 4px;
  }
  :first-child {
    margin-left: 0;
  }
}
.input-grp__link {
  line-height: 16px;
  display: inline-block;
  float: left;
  > .icon {
    margin-right: 4px;
  }
  &.__to-right {
    float: right;
  }
}
.input-grp__submit {
  .btn ~ .btn {
    margin-left: 10px;
  }
}

.input-grp .btn + .input-grp__link {
  position: relative;
  top: 9px;
}

.input-grp__lbl {
  margin-bottom: 13px;
  display: inline-block;
  font-family: $font-family;
  color: $controls-color;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

}
.input-control {
  padding: 11px 20px 12px;
  display: block;
  width: 100%;
  font-family: $font-family;
  border: 1px solid $grey-outlines;
  background-color: $grey-ultra-light;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
    &::placeholder {
      color: rgba($grey, .4);
    }

    &:focus {
      border-color: $green;
      outline: none;
      caret-color: $green;
    }
    &:disabled {
      color: lighten($grey-darker, 50%);
      background-color: $grey-ultra-light;
      border-color: lighten($grey-outlines, 20%);
      cursor: no-drop;
    }
    :valid {
      border: 1px solid red;
    }

    // Control States:
    &.__state-error {
      border-color: $red;
    }
}

.select-control {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  height: 44px;
  padding: 11px 32px 12px 20px;
  font-family: $font-family;
  font-weight: 400;
  color: $grey-darker;
  vertical-align: middle;
  background-color: $grey-ultra-light;
  background: $grey-ultra-light url("data:image/svg+xml,%3Csvg width='24' height='8' viewBox='0 0 24 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00377 8L7.32337 6.55848L7.32259 6.55762L12 1.44805L10.6804 0.00652571L6.00299 5.1161L1.3196 0L0 1.44152L6.00377 8Z' fill='%23233443'/%3E%3C/svg%3E") right no-repeat;
  border: 1px solid $grey-outlines;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
  appearance: none;

  &:focus {
    border-color: $green;
    outline: none;

    &::-ms-value {
      color: $grey-darker;
      background-color: $grey-ultra-light;
    }
  }

  &[multiple],
  &[size]:not([size="1"]) {
    height: auto;
    padding-right: 20px;
    background-image: none;
  }

  &:disabled {
    color: lighten($grey-darker, 50%);
    background-color: $grey-ultra-light;
    border-color: lighten($grey-outlines, 20%);
    cursor: no-drop;
  }

  // Hides the default caret in IE11
  &::-ms-expand {
    display: none;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $body-color;
  }
}

.control-info,
.feedback-message {
  margin-top: 6px;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #A5A6AD;

  &.__state-error {
    color: $red;
  }
}
