.section_feedback {
  margin: 0;
  padding: 72px 0 96px;
  background-color: #34416C;

  background: #34416C url('./assets/decorator-2-bl.png') bottom left no-repeat;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 268px;
    height: 424px;
    top: 0;
    right: 0;
    background: #34416C url('./assets/decorator-2-tr.png') bottom left no-repeat;
  }


  .form-container {
    max-width: 448px;
    margin: 0 auto;

    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 40px;
      line-height: 120%;
      text-align: center;
    }
    p {
      margin: 0 0 32px 0;
      text-align: center;
      color: #fff;
      font-size: 16px;
      line-height: 150%;
    }

    .input-control {
      background-color: transparent;
      color: $white;
      font-size: 18px;

      &:focus {
        border-color: #40D1D9;
      }

      &::placeholder {
        color: #C6C6C6
      }

      &.__textarea {
        min-height: 160px;
      }
    }

    .btn-secondary {
      display: block;
      width: 100%;
      padding: 24px;
      color: #fff;
      background-color: #40D1D9;
      font-weight: 500;
      font-size: 24px;
    }
  }

}
